<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/estudiante.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <title>Mis Tickets</title>
  </head>
  <body>
    <div class="container">
      <h2>Mis Tickets</h2>
      <a href="/tickets/new" class="btn btn-primary mb-3" id="nuevoTicket">Crear Nuevo Ticket</a>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Fecha de Creación</th>
            <th>Auditado</th>
            <th>Comentarios</th>
          </tr>
        </thead>
        <tbody>
          {{#each tickets}}
            <tr>
              <td>{{this.id}}</td>
              <td><a href="/tickets/{{this.id}}">{{this.descripcion}}</a></td>
              <td>{{this.fecha_creacion}}</td>
              <td>{{#if this.auditado}}Sí{{else}}No{{/if}}</td>
              <td>
                <a
                  href="/tickets/{{this.id}}/comments"
                  class="btn btn-info btn-sm" id="ver-comentarios"
                >Ver Comentarios</a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    ></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>